@model RouxAcademyWebApp.Models.PageViewModel

@{
  Layout = "~/Views/Shared/_LayoutOther.cshtml";
  ViewBag.Title = "OtherPage";

}


<article id="mainContent">
  <h1>@Model.PageTitle</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum egestas elit, consectetur posuere felis scelerisque sed. Sed vehicula augue at scelerisque consequat. In dapibus ornare tortor, et bibendum ligula feugiat vitae. Etiam condimentum ultrices arcu, ut sodales diam. Proin sed velit in purus ullamcorper ullamcorper. Ut in lobortis nibh. Ut eu mattis ipsum. Duis sollicitudin feugiat risus eu cursus. Ut gravida tortor sapien, accumsan commodo sapien facilisis eu. Nulla lobortis, quam eget efficitur consectetur, eros risus fringilla sem, quis imperdiet neque nunc ac ex. </p>
  <p>
    Ut viverra dignissim diam, at auctor metus aliquam id. Duis sit amet metus eu ex ultricies commodo a eget sem. Curabitur ligula nibh, interdum a velit tempus, finibus malesuada ex. Aliquam laoreet auctor faucibus. Integer finibus sodales blandit. Nulla ac pulvinar diam. Praesent neque sapien, semper vel lorem a, blandit feugiat tortor.
  </p>
</article>



